div.span2.main-menu-span
  .well.nav-collapse.sidebar-nav
    ul.nav.nav-tabs.nav-stacked.main-menu
      li.nav-header.hidden-tablet 主页
      li
        a.ajax-link(href='index')
          i.icon-home
          span.hidden-tablet  后台
      li
        a.ajax-link(href='ui')
          i.icon-eye-open
          span.hidden-tablet  UI元素
      li
        a.ajax-link(href='form')
          i.icon-edit
          span.hidden-tablet  表单
      li
        a.ajax-link(href='chart')
          i.icon-list-alt
          span.hidden-tablet  图表
      li
        a.ajax-link(href='typography')
          i.icon-font
          span.hidden-tablet  字体
      li
        a.ajax-link(href='gallery')
          i.icon-picture
          span.hidden-tablet  图片
      li.nav-header.hidden-tablet Sample Section
      li
        a.ajax-link(href='table')
          i.icon-align-justify
          span.hidden-tablet  表格
      li
        a.ajax-link(href='calendar')
          i.icon-calendar
          span.hidden-tablet  日历
      li
        a.ajax-link(href='grid')
          i.icon-th
          span.hidden-tablet  Grid
      li
        a.ajax-link(href='file-manager')
          i.icon-folder-open
          span.hidden-tablet  文件管理
      li
        a(href='tour')
          i.icon-globe
          span.hidden-tablet  路线
      li
        a.ajax-link(href='icon')
          i.icon-star
          span.hidden-tablet  图表
      li
        a(href='error')
          i.icon-ban-circle
          span.hidden-tablet  错误页面
      li
        a(href='login')
          i.icon-lock
          span.hidden-tablet  登陆页面
    label#for-is-ajax.hidden-tablet(for='is-ajax')
      input#is-ajax(type='checkbox')
      | Ajax on menu