!!! 5
html(lang='zh')
  head
    include includes/head
  body
    .container-fluid
      .row-fluid
        .row-fluid
          .span12.center.login-header
            h2 欢迎来到NetChat
        .row-fluid
          .well.span5.center.login-box
            -if(!err)
              .alert.alert-info
                span 请输入用户名和密码.
                a(href='#') 注册账号
            -else
              .alert.alert-error
                span #{err}
                a(href='#') 注册账号
            form#loginform.form-horizontal(action='login', method='post')
              fieldset
                .input-prepend(title='用户名', data-rel='tooltip')
                  span.add-on
                    i.icon-user
                  input#username.input-large.span10(class='validate[required]', autofocus='autofocus', name='username', type='text', value='')
                .clearfix
                .input-prepend(title='密码', data-rel='tooltip')
                  span.add-on
                    i.icon-lock
                  input#password.input-large.span10(class='validate[required]', name='password', type='password', value='')
                .clearfix
                .input-prepend
                  label.remember(for='remember')
                    input#remember(type='checkbox')
                    | 记住密码
                    a#forgetpw(href='#') 忘记密码?
                .clearfix
                p.center.span5
                  button.btn.btn-primary(type='submit') 登录NetChat
    include includes/script
    script(src='js/login.js')